html {
  background: url(../images/back.png) center center no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

body {
  background: rgba(221, 221, 221, 0.2);
}

header {
  padding: 10px 0;
  background: #f7f7f7;
  text-align: center;
  font-weight: 300;
  font-family: "Open Sans", sans-serif;
  text-transform: uppercase;
  color: black;
}
header h2 {
  display: inline;
  margin: 0;
  font-weight: 300;
  font-size: 3rem;
}
header p {
  margin: 0 0 0 300px;
  display: inline;
}

@media all and (max-width: 769px) {
  header {
    padding: 10px 0;
    text-align: center;
  }
  header h2 {
    font-size: 2.3rem;
  }
  header p {
    margin: 0 0 0 20px;
    font-size: 1.2rem;
  }
}
@media all and (max-width: 568px) {
  header {
    padding: 10px 0;
  }
  header h2 {
    display: block;
    font-size: 2.3rem;
  }
  header p {
    margin: 0;
    font-size: 1.2rem;
  }
}
nav.affix {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 999;
}

nav.affix + .container-fluid {
  padding-top: 63px;
}

.navbar-default {
  background: white;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  border: none;
  -moz-transition: background 0.3s linear 0s, color 0.3s linear 0s;
  -webkit-transition: background 0.3s linear 0s, color 0.3s linear 0s;
  -o-transition: background 0.3s linear 0s, color 0.3s linear 0s;
  transition: background 0.3s linear 0s, color 0.3s linear 0s;
  border-bottom: 3px solid #577340;
}
.navbar-default .navbar-brand {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s, opacity 0.3s linear;
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
  text-transform: uppercase;
  font-size: 2.7rem;
  margin: 0 0 0 100px !important;
  padding: 0;
  color: #577340;
  line-height: 55px;
}
.navbar-default .navbar-toggle {
  background: transparent !important;
  border: none;
}
.navbar-default .navbar-toggle .icon-bar {
  background: #577340;
  width: 22px;
  -ms-transition: all 0.5s;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
.navbar-default .navbar-toggle .top-bar {
  -ms-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  -ms-transform-origin: 10% 10%;
  -webkit-transform-origin: 10% 10%;
  transform-origin: 10% 10%;
}
.navbar-default .navbar-toggle .middle-bar {
  opacity: 0;
}
.navbar-default .navbar-toggle .bottom-bar {
  -ms-transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  -ms-transform-origin: 10% 90%;
  -webkit-transform-origin: 10% 90%;
  transform-origin: 10% 90%;
}
.navbar-default .navbar-toggle.collapsed .top-bar {
  -ms-transform: rotate(0deg);
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg);
}
.navbar-default .navbar-toggle.collapsed .middle-bar {
  opacity: 1;
}
.navbar-default .navbar-toggle.collapsed .bottom-bar {
  -ms-transform: rotate(0deg);
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg);
}
.navbar-default .navbar-collapse {
  text-align: center;
}
.navbar-default .navbar-collapse .navbar-nav {
  display: inline-block;
  float: none;
  vertical-align: top;
}
.navbar-default .navbar-collapse .navbar-nav > li {
  text-transform: uppercase;
  font-size: 1.6rem;
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
}
.navbar-default .navbar-collapse .navbar-nav > li > a {
  padding: 20px 15px;
  color: #577340;
}
.navbar-default .navbar-collapse .navbar-nav > li > a:hover {
  background: transparent;
  color: white;
  border: none;
}
.navbar-default .navbar-collapse .navbar-nav > li:hover {
  background: #577340;
}
.navbar-default .navbar-collapse .navbar-nav > li.active {
  background: #577340;
}
.navbar-default .navbar-collapse .navbar-nav > li.active a {
  background: transparent;
  color: white;
  border: none;
}

@media all and (max-width: 1024px) {
  .navbar-default .navbar-brand {
    margin-left: 25px !important;
    line-height: 50px;
  }
  .navbar-default .navbar-collapse {
    padding: 0;
  }
  .navbar-default .navbar-collapse .navbar-nav {
    display: block;
    float: left;
    width: 100%;
    margin: 0;
  }
  .navbar-default .navbar-collapse .navbar-nav > li {
    border-bottom: 1px solid #f1f1f1;
  }
  .navbar-default .navbar-collapse .navbar-nav > li > a {
    text-align: left;
    padding: 15px 0 15px 25px;
  }
  .navbar-default .navbar-collapse .navbar-nav > li > a:hover {
    color: #577340;
  }
  .navbar-default .navbar-collapse .navbar-nav > li:hover {
    background: white;
  }
  .navbar-default .navbar-collapse .navbar-nav > li.active {
    background: white;
  }
  .navbar-default .navbar-collapse .navbar-nav > li.active a {
    color: #577340;
  }
}
@media all and (max-width: 375px) {
  .navbar-default .navbar-brand {
    font-size: 2rem;
  }
}
.intro {
  height: 55vh;
}
.intro .content {
  text-align: center;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  text-transform: uppercase;
  color: white;
}
.intro .content h2 {
  margin: 0 0 10px 0;
  font-family: "PT Sans", sans-serif;
  font-weight: bold;
  font-size: 7rem;
}
.intro .content p {
  font-family: "Open Sans", sans-serif;
  font-weight: bold;
  font-size: 2.8rem;
  margin-bottom: 60px;
}
.intro .content .link {
  width: 200px;
  display: inline-block;
  font-family: "Open Sans", sans-serif;
  font-weight: bold;
  font-size: 1.9rem;
  color: white;
  padding: 12px 0;
  text-align: center;
  margin: 0;
  border: 1px solid white;
  -moz-transition: background 0.3s linear 0s, color 0.3s linear 0s;
  -webkit-transition: background 0.3s linear 0s, color 0.3s linear 0s;
  -o-transition: background 0.3s linear 0s, color 0.3s linear 0s;
  transition: background 0.3s linear 0s, color 0.3s linear 0s;
}
.intro .content .link:hover {
  background: white;
  color: #6B767D;
  text-decoration: none;
}
.intro .content .view-1 {
  margin-right: 10px;
}
.intro .content .chevron {
  display: block;
  color: white;
  font-size: 3rem;
  margin-top: 30px;
}

.overview {
  background: white;
  padding: 60px 0;
  color: black;
  text-align: center;
}
.overview h2 {
  margin: 0 0 30px 0;
  font-family: "PT Sans", sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 4rem;
}
.overview p {
  font-family: "Open Sans", sans-serif;
  font-size: 1.6rem;
  font-weight: 300;
}
.overview .service {
  margin: 60px 0;
  min-height: 300px;
}
.overview .service img {
  background: white;
  padding: 3px;
  border: 1px solid #ddd;
  margin-bottom: 30px;
}
.overview .service h3 {
  font-family: "PT Sans", sans-serif;
  font-weight: bold;
  text-transform: uppercase;
}

.services {
  background: #f9f9f9;
  padding: 60px 0;
  color: black;
}
.services h2 {
  margin: 0 0 30px 0;
  font-family: "PT Sans", sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 4rem;
}
.services .nav-pills > li {
  margin: 0;
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
  font-size: 2rem;
}
.services .nav-pills > li > a {
  background: transparent;
  color: #ccc;
  border-bottom: 3px solid #ccc;
  border-radius: 0;
}
.services .nav-pills > li > a:hover {
  background: transparent;
  color: #888;
  border: none;
}
.services .nav-pills > li > a:after {
  content: "";
  background: #577340;
  height: 3px;
  position: absolute;
  width: 100%;
  left: 0;
  bottom: -3px;
  transition: all 250ms ease 0s;
  transform: scale(0);
}
.services .nav-pills > li.active > a {
  background: transparent !important;
  color: #577340;
}
.services .nav-pills > li.active > a:after {
  transform: scale(1);
}
.services .nav-pills > li:hover > a {
  color: #577340;
}
.services .nav-pills > li:hover > a:after {
  transform: scale(1);
}
.services .tab-content {
  margin-top: 30px;
  font-family: "Open Sans", sans-serif;
}
.services .tab-content h3 {
  font-weight: bold;
  font-size: 2.8rem;
  text-transform: uppercase;
}
.services .tab-content p {
  font-weight: 300;
  font-size: 1.6rem;
}
.services .tab-content p.first {
  margin: 20px 0;
}
.services .tab-content h4 {
  font-weight: bold;
  font-size: 2.2rem;
  text-transform: uppercase;
  margin-top: 20px;
}
.services .tab-content ol {
  font-weight: 300;
  font-size: 1.6rem;
}
.services .tab-content ul {
  font-weight: 300;
  font-size: 1.6rem;
}
.services .tab-content .small-gutter .step {
  padding-left: 0;
  cursor: pointer;
}
.services .tab-content .small-gutter .step img {
  border-radius: 0;
  margin: 5% 0;
}
.services .tab-content .small-gutter .step .overlay, .services .tab-content .small-gutter .step .overlay-2 {
  position: absolute;
  background: rgba(255, 255, 255, 0.7);
  text-align: center;
  opacity: 0;
  -webkit-transition: opacity 0.25s ease;
  width: 80.8%;
  height: 89.5%;
  top: 5.2%;
  left: 0;
  z-index: 2;
}
.services .tab-content .small-gutter .step .overlay-2 {
  width: 80.8%;
  height: 87.5%;
  top: 6.3%;
}
.services .tab-content .small-gutter .step .caption {
  width: 90%;
  color: black;
  position: absolute;
  top: 50%;
  left: 5%;
  transform: translateY(-50%);
  font-family: "PT Sans", sans-serif;
  font-weight: bold;
  font-size: 1.7rem;
  z-index: 3;
}
.services .tab-content .small-gutter .step:hover .overlay, .services .tab-content .small-gutter .step:hover .overlay-2 {
  opacity: 1;
}

.gallery {
  padding: 60px 0;
  background: white;
  text-align: center;
  color: black;
}
.gallery h2 {
  margin: 0 0 30px 0;
  font-family: "PT Sans", sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 4rem;
}
.gallery .carousel .carousel-outer {
  position: relative;
}
.gallery .carousel .carousel-outer .carousel-inner {
  margin: 0 auto;
  width: 600px;
}
.gallery .carousel .carousel-outer .carousel-control {
  background: transparent;
}
.gallery .carousel .carousel-outer .carousel-indicators {
  margin: 50px auto 0 auto;
  position: static;
  text-align: left;
  white-space: nowrap;
  width: 735px;
}
.gallery .carousel .carousel-outer .carousel-indicators li {
  background-color: transparent;
  -webkit-border-radius: 0;
  border-radius: 0;
  display: inline-block;
  height: auto;
  margin: 0 3px 3px 0 !important;
  width: auto;
  float: left;
}
.gallery .carousel .carousel-outer .carousel-indicators li img {
  display: block;
  opacity: 0.5;
}
.gallery .carousel .carousel-outer .carousel-indicators li.active img {
  opacity: 1;
}
.gallery .carousel .carousel-outer .carousel-indicators li:hover img {
  opacity: 0.75;
}

.contact {
  background: #f9f9f9;
  padding: 60px 0;
  color: black;
}
.contact h2 {
  margin: 0 0 30px 0;
  font-family: "PT Sans", sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 4rem;
}
.contact form h3 {
  font-family: "PT Sans", sans-serif;
  font-weight: bold;
  font-size: 2rem;
}
.contact form .form-control {
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
  font-size: 1.6rem;
  box-shadow: none;
  border-radius: 0;
}
.contact form input[type=text], .contact form input[type=email] {
  height: 45px;
}
.contact form textarea {
  resize: none;
  padding-top: 15px;
}
.contact form label {
  font-weight: 300;
}
.contact form .radio-inline, .contact form .checkbox-inline {
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
  font-size: 1.6rem;
}
.contact form button {
  float: right;
  border: none;
  text-transform: uppercase;
  font-family: "Open Sans", sans-serif;
  font-weight: bold;
  background: transparent;
  font-size: 2.5rem;
}
.contact form button:hover {
  color: #333;
}

@media all and (max-width: 1024px) {
  .services .tab-content .small-gutter .step {
    padding-right: 0;
  }
  .services .tab-content .small-gutter .step img {
    margin: 0 auto 20px auto;
    display: block;
  }
  .services .tab-content .small-gutter .step .overlay, .services .tab-content .small-gutter .step .overlay-2 {
    width: 76%;
    height: 92%;
    top: 0;
    left: 12%;
  }
  .services .tab-content .small-gutter .step .overlay-2 {
    height: 91%;
    top: 0;
  }
  .services .tab-content .small-gutter .step .caption {
    width: 90%;
    top: 50%;
    left: 5%;
  }
}
@media all and (max-width: 769px) {
  .services .tab-content .small-gutter .step .overlay, .services .tab-content .small-gutter .step .overlay-2 {
    width: 34.5%;
    height: 99.5%;
    left: 32.8%;
  }
}
@media all and (max-width: 736px) {
  .intro {
    height: 71.2vh;
  }
  .intro .content h2 {
    font-size: 5rem;
  }
  .intro .content p {
    font-size: 2.2rem;
    margin-bottom: 40px;
  }
  .intro .content .link {
    font-size: 1.7rem;
  }

  .services .nav-pills > li {
    width: 50%;
    text-align: center;
  }
  .services .tab-content .small-gutter .step .overlay, .services .tab-content .small-gutter .step .overlay-2 {
    width: 35%;
    left: 32.5%;
    height: 100%;
  }

  .gallery .carousel .carousel-outer .carousel-indicators {
    width: 100%;
  }
}
@media all and (max-width: 667px) {
  .intro {
    height: 68.2vh;
  }

  .services .tab-content .small-gutter .step .overlay, .services .tab-content .small-gutter .step .overlay-2 {
    width: 39%;
    left: 30.6%;
  }
}
@media all and (max-width: 568px) {
  .intro {
    height: 56.8vh;
  }
  .intro .content h2 {
    font-size: 3.5rem;
  }
  .intro .content p {
    font-size: 1.8rem;
    margin-bottom: 20px;
  }
  .intro .content .link {
    font-size: 1.7rem;
  }
  .intro .content .chevron {
    font-size: 2.7rem;
    margin-top: 10px;
  }

  .services .tab-content .small-gutter .step .overlay, .services .tab-content .small-gutter .step .overlay-2 {
    width: 46%;
    left: 27%;
  }

  .gallery .carousel .carousel-outer .carousel-inner {
    width: 100%;
  }
}
@media all and (max-width: 480px) {
  .services .nav-pills > li {
    width: 100%;
    text-align: left;
  }
  .services .tab-content .small-gutter .step .overlay, .services .tab-content .small-gutter .step .overlay-2 {
    width: 55%;
    left: 22.5%;
  }

  .gallery .carousel .carousel-outer .carousel-indicators {
    overflow: auto;
  }
  .gallery .carousel .carousel-outer .carousel-indicators li {
    float: none;
  }
}
@media all and (max-width: 414px) {
  .intro {
    height: 50vh;
  }
  .intro .content h2 {
    font-size: 4rem;
  }
  .intro .content p {
    font-size: 1.7rem;
    margin-bottom: 40px;
  }
  .intro .content .link {
    width: 180px;
    font-size: 1.7rem;
  }
  .intro .content .chevron {
    font-size: 2.7rem;
    margin-top: 20px;
  }

  .overview h2 {
    font-size: 3rem;
  }

  .services h2 {
    font-size: 3rem;
  }
  .services .tab-content .small-gutter .step .overlay, .services .tab-content .small-gutter .step .overlay-2 {
    width: 64.5%;
    left: 17.7%;
  }
}
@media all and (max-width: 375px) {
  .intro .content h2 {
    font-size: 3.7rem;
  }
  .intro .content p {
    font-size: 1.9rem;
  }
  .intro .content .link {
    width: 150px;
    font-size: 1.5rem;
  }

  .services .tab-content .small-gutter .step .overlay, .services .tab-content .small-gutter .step .overlay-2 {
    width: 77.5%;
    left: 14.3%;
  }
}
@media all and (max-width: 320px) {
  .intro .content h2 {
    font-size: 3rem;
  }
  .intro .content p {
    font-size: 1.5rem;
  }
  .intro .content .link {
    width: 120px;
    font-size: 1.3rem;
  }

  .services .tab-content .small-gutter .step .overlay, .services .tab-content .small-gutter .step .overlay-2 {
    width: 85.4%;
    left: 7.3%;
  }
}
footer {
  background: #577340;
  padding: 30px 0 20px 0;
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
  font-size: 1.6rem;
}
footer .links {
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-align: center;
}
footer .links li {
  display: inline-block;
}
footer .links li a {
  color: white;
  padding: 10px 30px;
}
footer p {
  text-align: center;
  color: white;
  margin: 30px 0 0 0;
}
footer .wwb {
  margin-top: 15px;
  text-align: center;
  color: white;
  background: transparent;
  padding: 5px 0;
}
footer .wwb ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
  text-align: center;
}
footer .wwb ul li {
  display: inline-block;
  padding: 0 6px;
}
footer .wwb ul li a {
  color: white;
}

@media all and (max-width: 769px) {
  footer ul li {
    width: 100%;
    margin: 2px 0;
  }
}
