html {
	height:100%;
}
body {
	background:transparent;
	margin:0;
	padding:0;
	height:100%;
}

/* --- Global styles to save code --- */
p {
	font-family: 'Merriweather', serif;	
	text-align:justify;
}
textarea {
	resize:none;
}
strong {
	color:red;
}
.img-thumbnail {
	border-radius:0;
}

/* --- Header begins --- */
header {
	padding:0;
	overflow:hidden;
	background:url(../Images/header.png) center center no-repeat;
	background-size:cover;
	height:30vh;
	margin:0;
	color:white;
}
header .logo {
	margin:5.5% 0 0 0;
	padding:0;
}
.logo img {
	margin:0;
}
header h2 {
	width:100%;
	font-family: 'Bitter', serif;
	font-weight:bold;
	font-size:3rem;
	text-align:right;
}
.header {
	float:right;
}
.first-h2 {
	margin-top:11.5%;
}
header a, header a:hover {
	color:white;
}
/* --- Header ends --- */

/* --- Nav begins --- */
nav.affix {
    position: fixed;
    top: 0;
    width: 100%;
    z-index:9999;
}
.affix + .container-fluid {
    padding-top: 70px;
}

.navbar {
    margin-bottom:0;
	border:none;
	border-radius:0;
	-webkit-box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.75);
	box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.75);
}
.navbar .navbar-nav {
  display: inline-block;
  float: none;
  vertical-align: top;
}
.navbar .navbar-collapse {
  text-align: center;
}
.navbar-default {
	background:#00B16A;
}
.navbar-default .navbar-brand {
	font-family: arial, sans-serif;
	font-size:3rem;
	font-weight:bold;
	color:white;
	margin:8px 0;
}
.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus, .navbar-default .navbar-brand:active {
	color:white;
}
.navbar-default .navbar-toggle {
	border:none;
	color:white;
	margin:12px 15px 12px 0
}
.navbar-default .navbar-toggle .icon-bar {
	background:white;
}
.navbar-default .navbar-toggle:hover {
	 background:none;
 }
.navbar-nav > li{
	padding:8px 45px;
	font-family: 'Merriweather', serif;
	font-size:1.5rem;
}
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus{ 
    background:none;
	color:white;
}
.navbar-default .navbar-nav>li>a {
	cursor:pointer;
	color:white;
}
.navbar-default .navbar-nav>li>a:visited, .navbar-default .navbar-nav>li>a:active {
	background:none;
}
.navbar-default .navbar-nav>li:hover {
	background:#007948;
}
/* --- Nav ends --- */

/* --- Intro begins --- */
.intro {
	padding:3% 0;
	background:white;
}
.intro a {
	color:#333;
	font-weight:bold;
}
.intro h1{
	font-family: 'Bitter', serif;
	font-weight:bold;
	font-size:4.5rem;
}
.intro h2 {
	margin-top:4%;
	font-family: 'Bitter', serif;
	font-weight:bold;
	font-size:3rem;
}
.intro h3 {
	margin-top:1%;
	font-family: 'Bitter', serif;
	font-weight:bold;
	font-size:2.3rem;
}
.intro p {
	font-weight:300;
	font-size:1.5rem;
}
.intro img {
	margin:3.5% 0 0 0;
}
.images a {
    display: inline-block;
    position: relative;
	float:left;
	border:none;
}
.caption-text{
	position:absolute;
	top:48%;
	left:0;
	width:100%;
	text-align:center;
	margin: 0;
	padding: 0;
	color: white;
    font-weight: bold !important;
	font-family: 'Roboto', sans-serif;
    line-height: 1.1em;
	font-size: 2.1rem !important;
	display: none;
}
.caption-home {
    display: none;
    position: absolute;
	width: 100%;
	height: 95%;
    top: 5%;
    left: 0;
    right: 0;
    background-color: rgba(0,0,0,0.5); 
	text-align: center;
}
.images a:hover .caption-home {
	border:none;
    display:block;
	z-index:2;
}
.images a:hover .caption-text{
	border:none;
	display:block;
	z-index:3;
}
.r-images p {
	margin-top:2%;
	width:80%;
	font-size:1.3rem;
}
/* --- Home ends --- */

/* --- Services begins --- */
.tab-content {
	margin-top:2%;
}
.nav-pills>li>a {
	font-family:'Bitter', sans-serif;
	border-radius:0;
	font-size:1.6rem;
}
.nav-pills>li.active>a, .nav-pills>li.active>a:focus, .nav-pills>li.active>a:hover {
	background:#00B16A;
}
.intro ul {
	/*list-style-type:none;*/
	font-family: 'Merriweather', serif;	
	text-align:justify;
	font-weight:300;
	font-size:1.5rem;
}
.no-gutter [class*="-3"] {
	padding-left:0;
    padding-right:0;
}
.intro .btn-default, .intro .btn-default:active, .intro .btn-default:focus {
	margin-top:2%;
	padding:10px 30px;
	font-family: 'Merriweather', serif;	
	font-weight:300;
	font-size:1.5rem;
	outline:none;
	border-radius:0;
}
.intro .btn-default a:active, .intro .btn-default a:hover, .intro .btn-default a:focus {
	text-decoration:none;
}
/* --- Services end --- */

/* --- Gallery begins --- */
.center-h1 {
	text-align:center;
}
.carousel {
	margin:2% auto 0 auto;
	width:72.5%;
}
.carousel img {
	margin:0;
}
.carousel a {
	color:white;
}
.intro h5 {
    font-weight: bold;
	font-family: 'Roboto', sans-serif;
	font-size: 3rem;
}
/* --- Gallery ends --- */

/* --- Contact begins --- */
.intro h6 {
	margin-top:1%;
	font-family: 'Roboto', serif;
	font-weight:bold;
	font-size:2rem;	
}
.form-control {
	border-radius:0;
}
form input, form textarea, form label {
	font-family: 'Merriweather', serif;	
	font-weight:300;
	font-size:1.5rem;
}
.checkbox-inline, .radio-inline {
	font-weight:300;
}
form .btn-success {
	padding:7.5px 30px;
	font-family: 'Merriweather', serif;	
	font-weight:300;
	font-size:1.5rem;
	outline:none;	
	border-radius:0;
}
/* --- Contact ends --- */

/* --- Footer begins --- */
footer {
	background:#00B16A;	
	padding:20px 0;
	font-size:1.2rem;
}
footer ul {
	margin:0;
	list-style-type:none;
	text-align:center;
}
footer ul li {
	display:inline-block;
	padding:0 20px;
	font-family: 'Merriweather', serif;
}
footer ul li a {
	color:white;
}
footer p {
	width:90%;
	margin:10px 0 0 5%;
	font-family: 'Merriweather', serif;
	text-align:center;
	color:white;
}
/* --- Footer ends --- */
@media all and (max-width:768px) {
	.carousel {
		margin:2% auto 0 auto;
		width:100%;
	}
	.header {
		float:left !important
	}
	header .logo {
		margin:2% 0 0 0;
		padding:0;
	}
	header img {
		width:30%;
	}
	header h2 {
		margin:0;
		text-align:left;
	}
	.first-h2 {
		margin-top:3%;
	}
}
@media all and (max-width:414px) { 
	header h2 {
		font-size:2.5rem;
	}
	.intro h5 {
		font-size: 2rem;
	}
}
@media all and (max-width:375px) { 
	header h2 {
		font-size:2.2rem;
	}
}
@media all and (max-width:320px) { 
	header h2 {
		font-size:1.9rem;
	}
	.intro h5 {
		font-size: 1.5rem;
	}
